@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #0A162D;
  --light-blue-color-gradient: #21e6ff;
  --dark-blue-color-gradient: #0d6efd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-blue: var(--light-blue-color-gradient);
  --color-dark-blue: var(--dark-blue-color-gradient);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A162D;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
