.container{
  position: relative;
  background-image: url("/images/aeropuerto-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.background{
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100dvh;
  height: 100%;
  background-color: var(--color-background);
  opacity: 0.8;
}

.mainContent{
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 2fr auto;
  width: 100%;

}